.render-markdown {
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    color: #333;
}

.render-markdown > *:first-child {
    margin-top: 0 !important;
}

.render-markdown > *:last-child {
    margin-bottom: 0 !important;
}

.render-markdown a {
    color: #4183C4;
    text-decoration: none;
}

.render-markdown a.absent {
    color: #cc0000;
}

.render-markdown a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.render-markdown h1,.render-markdown h2,.render-markdown h3,.render-markdown h4,.render-markdown h5,.render-markdown h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.render-markdown h2:first-child,.render-markdown h1:first-child,.render-markdown h1:first-child + h2,.render-markdown h3:first-child,.render-markdown h4:first-child,.render-markdown h5:first-child,.render-markdown h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.render-markdown h1:hover a.anchor,.render-markdown h2:hover a.anchor,.render-markdown h3:hover a.anchor,.render-markdown h4:hover a.anchor,.render-markdown h5:hover a.anchor,.render-markdown h6:hover a.anchor {
    text-decoration: none;
}

.render-markdown h1 tt,.render-markdown h1 code {
    font-size: inherit;
}

.render-markdown h2 tt,.render-markdown h2 code {
    font-size: inherit;
}

.render-markdown h3 tt,.render-markdown h3 code {
    font-size: inherit;
}

.render-markdown h4 tt,.render-markdown h4 code {
    font-size: inherit;
}

.render-markdown h5 tt,.render-markdown h5 code {
    font-size: inherit;
}

.render-markdown h6 tt,.render-markdown h6 code {
    font-size: inherit;
}

.render-markdown h1 {
    font-size: 3em;
    color: black;
}

.render-markdown h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
}

.render-markdown h3 {
    font-size: 18px;
}

.render-markdown h4 {
    font-size: 16px;
}

.render-markdown h5 {
    font-size: 14px;
}

.render-markdown h6 {
    color: #777777;
    font-size: 14px;
}

.render-markdown p,.render-markdown blockquote,.render-markdown ul,.render-markdown ol,.render-markdown dl,.render-markdown li,.render-markdown table,.render-markdown pre {
    margin: 15px 0;
}

.render-markdown hr {
    background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
}

.render-markdown body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

.render-markdown body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

.render-markdown body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

.render-markdown body > h3:first-child,.render-markdown body > h4:first-child,.render-markdown body > h5:first-child,.render-markdown body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.render-markdown a:first-child h1,.render-markdown a:first-child h2,.render-markdown a:first-child h3,.render-markdown a:first-child h4,.render-markdown a:first-child h5,.render-markdown a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.render-markdown h1 p,.render-markdown h2 p,.render-markdown h3 p,.render-markdown h4 p,.render-markdown h5 p,.render-markdown h6 p {
    margin-top: 0;
}

.render-markdown li p.first {
    display: inline-block;
}

.render-markdown ul,.render-markdown ol {
    padding-left: 30px;
}
.render-markdown ul{
    list-style-type: disc;
}
.render-markdown ul ul{list-style-type: circle;}
.render-markdown ul ul ul{list-style-type: square;}
.render-markdown ol{
    list-style-type: decimal;
}

.render-markdown ul :first-child,.render-markdown ol :first-child {
    margin-top: 0;
}

.render-markdown ul :last-child,.render-markdown ol :last-child {
    margin-bottom: 0;
}

.render-markdown dl {
    padding: 0;
}

.render-markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

.render-markdown dl dt:first-child {
    padding: 0;
}

.render-markdown dl dt > :first-child {
    margin-top: 0;
}

.render-markdown dl dt > :last-child {
    margin-bottom: 0;
}

.render-markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

.render-markdown dl dd > :first-child {
    margin-top: 0;
}

.render-markdown dl dd > :last-child {
    margin-bottom: 0;
}

.render-markdown blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

.render-markdown blockquote > :first-child {
    margin-top: 0;
}

.render-markdown blockquote > :last-child {
    margin-bottom: 0;
}

.render-markdown table {
    padding: 0;
}
.render-markdown table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.render-markdown table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.render-markdown table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.render-markdown table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.render-markdown table tr th :first-child, table tr td :first-child {
    margin-top: 0;
}

.render-markdown table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}

.render-markdown img {
    max-width: 100%;
}

.render-markdown span.frame {
    display: block;
    overflow: hidden;
}

.render-markdown span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

.render-markdown span.frame span img {
    display: block;
    float: left;
}

.render-markdown span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

.render-markdown span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.render-markdown span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

.render-markdown span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.render-markdown span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.render-markdown span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

.render-markdown span.align-right span img {
    margin: 0;
    text-align: right;
}

.render-markdown span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

.render-markdown span.float-left span {
    margin: 13px 0 0;
}

.render-markdown span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

.render-markdown span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

.render-markdown code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.render-markdown pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.render-markdown .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.render-markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.render-markdown pre code,.render-markdown pre tt {
    background-color: transparent;
    border: none;
}