{{ include head.html }}
<header id="site-head">
    <div id="site-head-content" class="inner">
        <a class="blog-logo" href="/" title="{{=blog.title}}"><img src="/image/logo-white.png" width="120" height="135"/></a>
        <h1 class="blog-title">{{=blog.title}}</h1>
        <h2 class="blog-description">{{=blog.description}}</h2>
    </div>
    <footer id="site-footer">
        <a class="subscribe icon-rss" href="/rss/">
            <span class="tooltip">Subscribe!</span>
        </a>
        <div class="inner">
            <section class="copyright">All content copyright <a href="/">CssJser</a> © 2014 • All rights reserved.</section>
            <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://cssjser.com">CssJser</a></section>
        </div>
    </footer>
</header>
<main id="content">