{{ include theme/includes/head.html}}
<style>
    body{width: 100%;
        color: #242628;
        font-weight: 300;
        background: #edece4;}
    #main{position: absolute;
        top: 55px;
        right: 15px;
        bottom: 0;
        left: 15px;
        padding: 0;}
    .error-content {
        max-width: 530px;
        margin: 0 auto;
        padding: 0;
        display: table;
        height: 100%;
    }
    .error-details {
        display: table-cell;
        vertical-align: middle;
    }
    .error-image {
        display: inline-block;
        vertical-align: middle;
        width: 96px;
        height: 150px;
    }
    .error-image img {
        width: 100%;
        height: 100%;
    }
    .error-message {
        position: relative;
        top: -5px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    .error-code {
        margin: 0;
        font-size: 12.4em;
        line-height: 0.9em;
        color: #979797;
        font-weight: bold;
    }
    .error-header {
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 3.1em;
        color: #979797;
        border: none;
    }
</style>
<div id="main">
    <section class="error-content error-404">
        <section class="error-details">
            <section class="error-image">
                <img src="/image/404.png" alt="500"/>
            </section>
            <section class="error-message">
                <h1 class="error-code">500</h1>
            </section>
            <h2 class="error-header">{{=error}}</h2>
            <section class="error-description">{{=stack}}</section>
        </section>
    </section>
</div>
{{ include theme/includes/foot.html}}
{{ include theme/includes/end.html}}